<!DOCTYPE html>
<html>
<head>
    <title>My Webpage</title>
</head>
<body>
<ul id="navigation">
    {% for item in users %}
        <li><h3>item.firstName</h3></li>
    {% endfor %}
</ul>
</body>
</html>